<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="card p-3">
      <div class="card-img-wrapper">
        <a [routerLink]="['/external/tech/fot']">
          <img src="url(/../../../assets/img/fridgerepair.jpg" alt="Card image">
        </a>
        <h4 class="card-title mt-3">Τεχνικός Φωτιάδης (Mόνο Ψυγεία)
        </h4>
        <div class="card-body">
          <p class="card-text">Εδώ μπορείς να βρείς όλες τις πληροφορίες και τις περιοχές εξυπηρέτησης των τεχνικών μας.</p>
        </div>
      </div>
    </div>
    <div class="card mb-3 p-3">
      <div class="card-img-wrapper">
        <a [routerLink]="['/external/tech/mak']">
          <img src="url(/../../../assets/img/washrepair.jpg" alt="Card image">
        </a>
        <h4 class="card-title mt-3">Τεχνικός Μακράκης(Εκτός Ψυγεία)</h4>
        <div class="card-body">
          <p class="card-text">Εδώ μπορείς να βρείς τα εσωτερικά τηλέφωνα και τα τμήματα των συναδέλφων</p>
        </div>
      </div>
    </div>
  </div>
</div>