.table {
    cursor: pointer;
}

.blue {
    background-color: rgba(39, 171, 223, 0.459);
    background-image: linear-gradient(to right, rgba(39, 171, 223, 0.459) ,rgba(39, 171, 223, 0.459));
}

.fridge{
    width: 30px;
    height: 30px;
    background-color: rgba(39, 171, 223, 0.459);
    background-image: linear-gradient(to right, rgba(39, 171, 223, 0.459) ,rgba(39, 171, 223, 0.459));
}

.default {
    width: 30px;
    height: 30px;
    background-color: rgba(107, 207, 68, 0.479);
    background-image: linear-gradient(to right, rgba(107, 207, 68, 0.479) ,rgba(107, 207, 68, 0.479));
}

.brown{
    width: 30px;
    height: 30px;
    background-color: rgba(233, 159, 47, 0.603);
    background-image: linear-gradient(to right, rgba(233, 159, 47, 0.603) ,rgba(233, 159, 47, 0.603));
}

.fridger, .browner, .mixxer, .defaulter {
    padding-left: 40px;
}

.mix {
    width: 30px;
    height: 30px;
    background-color: white ;
    background-image: linear-gradient(to right, rgba(68, 196, 247, 0.473) ,rgba(233, 159, 47, 0.603));
}

strong {
    font-size: 15px;
}

.form-group {
    width: 25%;
    margin-left:100px;
}


.btn {
    margin-top: 4px;
    height:40px;
    margin-right:10px;
    background-color: #8d000c!important;
    text-transform: none;
}

.table-default{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.116), 0 7px 7px rgba(0, 0, 0, 0.096);     
}

