<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="create()">
      <h2 class="text-center text-primary">Στοιχεία Τεχνικού</h2>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Όνομα" formControlName="firstname" [ngClass]="{'is-invalid': registerForm.get('firstname').errors && registerForm.get('firstname').touched}" required>
        <div class="invalid-feedback">Παρακαλώ πληκτρολογήστε το όνομα του τεχνικού</div>
      </div>
  
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Επίθετο" formControlName="lastname" [ngClass]="{'is-invalid': registerForm.get('lastname').errors && registerForm.get('lastname').touched}" required>
        <div class="invalid-feedback">Παρακαλώ πληκτρολογήστε το επίθετο του τεχνικού</div>
      </div>
  
      <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}" required>
          <div class="invalid-feedback">Παρακαλώ πληκτρολογήστε το email του τεχνικού</div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Περιοχή" formControlName="area" [ngClass]="{'is-invalid': registerForm.get('area').errors && registerForm.get('area').touched}" required>
            <div class="invalid-feedback">Παρακαλώ πληκτρολογήστε την περιοχή του τεχνικού</div>
          </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="T.K." formControlName="postcode" [ngClass]="{'is-invalid': registerForm.get('postcode').errors && registerForm.get('postcode').touched}" required>
            <div class="invalid-feedback">Παρακαλώ πληκτρολογήστε τον Τ.Κ του τεχνικού</div>
          </div>

          <div class="form-group">
             
            <input type="text"  class="form-control" placeholder="Kινητό" formControlName="phonenumber" [ngClass]="{'is-invalid': registerForm.get('phonenumber').errors && registerForm.get('phonenumber').touched}" required>
            <div class="invalid-feedback">Παρακαλώ πληκτρολογήστε το κινητό του τεχνικού</div>
          </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Διεύθυνση" formControlName="address" [ngClass]="{'is-invalid': registerForm.get('address').errors && registerForm.get('address').touched}" required>
                <div class="invalid-feedback">Παρακαλώ πληκτρολογήστε την διεύθυνση του τεχνικού</div>
              </div>

              <div class="form-group">
                  <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Περιοχές Εξυπηρέτησης" formControlName="areaservice" [ngClass]="{'is-invalid': registerForm.get('areaservice').errors && registerForm.get('areaservice').touched}" required></textarea>
                  <div class="invalid-feedback">Παρακαλώ πληκτρολογήστε τις περιοχές εξυπηρέτησης του τεχνικού</div>
                </div>

              <div class="form-group">
                  <label for="exampleSelect1">Ειδικότητα</label>
                  <select class="form-control" id="exampleSelect1" required formControlName="specialization">
                    <option>Καμία Ειδικότητα</option>
                    <option>Ψυκτικός</option>
                    <option>Καφετιέρα</option> 
                    <option>Ψυκτικός & Καφετιέρα</option> 
                    <option>Απορροφητήρας</option> 
                  </select>
                </div>
  
      <div class="form-group text-center">
        <button class="btn btn-success" type="submit" [disabled]="registerForm.invalid">Δημιουργία Τεχνικού</button>
        <button class="btn btn-default" type="button">Ακύρωση</button>
      </div>
    </form>
  </div>
  


