<div class="container">
  <div class="row mt-5">
    <div class="col-4">
      <div class="card mb-3 card-img-wrapper">
        <div class="card-body">
          <h5 class="card-title">Πλυντήρια Ρούχων</h5>
        </div>
        <a [routerLink]="['/products/washingmachine']"><img src="../../assets/img/products/washingmachine.jpg" alt="Card image"></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 card-img-wrapper ">
        <div class="card-body ">
          <h5 class="card-title">Στεγνωτήρια</h5>
        </div>
        <a [routerLink]="['/products/drymachine']"><img src="../../assets/img/products/drymachine.jpg" alt="Card image"></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 card-img-wrapper">
        <div class="card-body">
          <h5 class="card-title">Σιδερωτήρια</h5>
        </div>
        <a [routerLink]="['/products/ironmachine']"><img src="../../assets/img/products/iron.jpg" alt="Card image"></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 card-img-wrapper">
        <div class="card-body">
          <h5 class="card-title">Πλυντήρια πιάτων</h5>
        </div>
        <a [routerLink]="['/products/dishwasher']"><img src="../../assets/img/products/dishwasher.jpg" alt="Card image"></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 card-img-wrapper">
        <div class="card-body">
          <h5 class="card-title">Εστίες, Φούρνοι, Απορροφητήρες, Ψύξη</h5>
        </div>
        <a [routerLink]="['/products/kitchen']"><img src="../../assets/img/products/kitchen.jpg" alt="Card image"></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 card-img-wrapper">
        <div class="card-body">
          <h5 class="card-title">Σκεύη</h5>
        </div>
        <a [routerLink]="['/products/pots']"><img src="../../assets/img/products/pots.jpg" alt="Card image"></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 card-img-wrapper">
        <div class="card-body">
          <h5 class="card-title">Καφετιέρες</h5>
        </div>
        <a [routerLink]="['/products/coffeemaker']"><img src="../../assets/img/products/coffee.jpg" alt="Card image"></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 card-img-wrapper">
        <div class="card-body">
          <h5 class="card-title">Σκούπες (σακούλες, φίλτρα, πέλματα)</h5>
        </div>
        <a [routerLink]="['/products/vacuum']"><img src="../../assets/img/products/vacuum.jpg" alt="Card image"></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 card-img-wrapper">
        <div class="card-body">
          <h5 class="card-title">Παιχνίδια</h5>
        </div>
        <a [routerLink]="['/products/toys']"><img src="../../assets/img/products/toys.jpg" alt="Card image"></a>
      </div>
    </div>

  </div>
</div>