<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="card mb-3 p-3 animated zoomInLeft">
      <div class="card-img-wrapper">
        <a [routerLink]="['/mieletech']">
          <img src="url(/../../../assets/img/texnikoi.jpg" alt="Card image">
        </a>
        <h4 class="card-title mt-3">Τεχνικοί Miele</h4>
        <div class="card-body">
          <p class="card-text">Εδώ μπορείς να βρείς όλες τις πληροφορίες και τις περιοχές εξυπηρέτησης των τεχνικών μας.</p>
        </div>
      </div>
    </div>
    <div class="card mb-3 p-3 animated zoomInLeft ">
      <div class="card-img-wrapper">
        <img src="url(/../../../assets/img/thlefwna.jpg" alt="Card image">
        <h4 class="card-title mt-3">Υπάλληλοι Miele</h4>
        <div class="card-body">
          <p class="card-text">Εδώ μπορείς να βρείς τα εσωτερικά τηλέφωνα και τα τμήματα των συναδέλφων</p>
        </div>
      </div>
    </div>

    <div class="card mb-3 p-3 animated zoomInLeft">
      <div class="card-img-wrapper">
        <a [routerLink]="['/articles']">
          <img src="url(/../../../assets/img/articles.jpg" alt="Card image">
        </a>
        <h4 class="card-title mt-3">Άρθρα για τις οικιακές συσκευές</h4>
        <div class="card-body">
          <p class="card-text">Διάφορα άρθρα και πληροφορίες για τις οικιακές συσκευές.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-around ">
    <div class="card mb-3 p-3 animated zoomInLeft">
      <div class="card-img-wrapper">
        <a [routerLink]="['/products']">
          <img src="url(/../../../assets/img/analwsima.jpg" alt="Card image">
        </a>
        <h4 class="card-title mt-3">Aναλώσιμα Miele</h4>
        <div class="card-body">
          <p class="card-text">Όποια πληροφορία για αναλώσιμα και ανταλλακτικά χρειάζεσαι μπορείς να το βρείς εδώ. </p>
        </div>
      </div>
    </div>
    <div class="card mb-3 p-3 animated zoomInLeft">
      <div class="card-img-wrapper">
        <a [routerLink]="['/external/techs']">
          <img src="url(/../../../assets/img/technicians.jpg" alt="Card image">
        </a>
        <h4 class="card-title mt-3">Eξωτερικoί Τεχνικοί Miele (Φωτιάδης-Μακράκης)</h4>
        <div class="card-body">
          <p class="card-text">Εδώ μπορείς να δεις την διαθεσιμότητα των εξωτερικών συνεργατών μας.</p>
        </div>
      </div>
    </div>
    <div class="card mb-3 p-3 animated zoomInLeft">
      <div class="card-img-wrapper">
        <a [routerLink]="['/eta/partners']">
          <img src="url(/../../../assets/img/thlefwna sunergatwn.jpg" alt="Card image">
        </a>
        <h4 class="card-title mt-3">Συνεργάτες Miele</h4>
        <div class="card-body">
          <p class="card-text">Όλα τα τηλέφωνα και οι πληροφορίες των συνεργατών μας στην επαρχία βρίσκονται εδώ.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="image-background"></div>